/* banner section */
 .carousel-item img{
 filter: brightness(50%);
border-radius: 5px;

 }


/******************for extra small device ******************/

@media screen and (max-width:576px) {
    .carousel-item .carousel-img{
        height:400px;
        
         }

         .hide-area{
            display: none;
         }


    .hidden{
        display: none;
    } 
    
     
}

/******************for small device ******************/

@media screen and (min-width:577x) and (max-width:767px){

    .hidden{
        display: none;
    }  


}

/* for medium device */

@media screen and (max-width:991px){

    .hidden{
        display: none;
    }  


}

