/* banner section */
 .carousel-item img{
 filter: brightness(50%);
border-radius: 5px;

 }


 

/* Ready to join section */




/******************for mobile device ******************/

@media screen and (max-width:576px) {
    .carousel-item img{
        height:400px;
        
         }


    .hidden{
        display: none;
    }     

}

/******************for tablet device ******************/

@media screen and (min-width:577x) and (max-width:767px){

    .hidden{
        display: none;
    }  


}

